body{
    margin: 0 auto; 
    background-color: HSL(48, 54%, 95%);
}

.bloc_page{
    width: 80%;
}

/*-------  H E A D E R    ---------*/
header{
    margin-top: -20px;
    background-attachment: fixed;
    height: 400px;
    background-image: url("./header.jpeg");
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative
}

header h1{
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 5em;
    letter-spacing: 4px;
    text-shadow: 3px 3px 2px rgb(88, 84, 84);
    color: rgb(45, 54, 56);
}

/*-------  H O M E  P A G E    ---------*/

h2 .title{
    font-family: 'Roboto', Arial;
}

/*-------  S H O W    A R T I C L E   ---------*/

h1.title{
    font-family: 'Roboto', Arial;
}

.comments {
    border: 2px solid black; 
}

.card{
    margin-top: 10px;
}

.card p {
    font-family: 'Roboto', Arial;
}
.rating{
    cursor: default;
    background-color: HSL(53, 98%, 40%);
    transition: background-color 0.7s;
}

button.rating{
    margin-bottom: 10px;  /* for smaller views */
}
.rating:hover{
    background-color: HSL(53, 98%, 47%);
}

/*-------  C O M M E N T S   ---------*/

.message_block{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width : 60%;
  margin-bottom: 50px;
}
.message{
    color: white;
    border-radius: 4px;
    margin :5px;
    padding: 3px;
    background-color: HSL(211, 62%, 58%);
    cursor: default;
    transition: background-color 0.8s; 
}
.message:hover{
    background-color: HSL(211, 62%, 66%);
}

 /*------- F O O T E R  ---------*/

 footer{
     width: 100%;
     position: fixed;
     bottom: 0;
     background-color: HSL(0, 0%, 50%);    
 }

 footer p{
     padding: 2px;
     padding-right: 15px;
 }