body{
    width: 80%;
    margin: 0 auto; 
}
.mycomment {
    border: 2px solid black; 
    background-color: blue;
}
.comments {
    border: 2px solid black; 
}

.card{
    margin-top: 10px;
}

.note{
    cursor: default;
    background-color: HSL(53, 98%, 40%);
    transition: background-color 0.7s;
}
.note:hover{
    background-color: HSL(53, 98%, 47%);
}

 /*------- F O O T E R  ---------*/

 footer{
     margin: 0 auto; 
     margin-top: 10px;
     background-color: HSL(0, 0%, 50%);    
     margin-bottom: -10px;
 }
 .mention{
     width: 100%
 }